body {
    background: gray;
  }

  img[alt="pokeball banner"] {
      width: 1290px;
      height: 600px;
  }

  h1 {text-align: center;}

  td, th { border: 1px solid black;
    padding: 0.7em;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; }

    tr:nth-of-type(1), tr:nth-of-type(2), tr:nth-of-type(3), tr:nth-of-type(4) {background-color: red;}

tr:nth-of-type(5) {background-color: darkgray;}

tr:nth-of-type(6), tr:nth-of-type(7), tr:nth-of-type(8), tr:nth-of-type(9) {background-color:white;}

img[alt="pichu"] {
    width: 400px;
height: 600px;
padding: 10px;
}

button {
    float: left;
    margin-left: 100px;
    margin-bottom: 20px;
}


#rightcol {
    float: right;
    border: 2px solid black;
    width: 400px;
    background-color: silver;
    margin-right: 20px;
    margin-top: 50px;
}

#rightcol h2 {
    text-align: center;
}

p {
    padding: 10px;
}

img[alt="link running"] {
    width: 300px;
    height: 300px;
    margin-left: 50px;
    margin-bottom: 10px;
}

nav {
    text-align: center;
    
}

ul {
    list-style-type: none;
}

li {
    display: inline;
    background-color: silver;
}

nav a {
    text-decoration: none;
    margin: 20px;
    padding: 10px;
    text-align: center;
}

li a:hover {
    background-color: white;
}

footer {
    background-color: silver;
    border: 2px solid black;
    margin-top: 50px;
}

footer p {
    margin-left: 10px;
}

@media only screen and (max-width: 650px) {

    img[alt="pokeball banner"] {
        width: 100%;
    }

    nav {
        position: absolute; left: 35%; right: 65%;
        border-radius: 16px 0 0 16px; 
        margin-top: 50px;
        
        
    }

    li { 
        display: block;
        margin: auto;
     } 


#rightcol {
    
    width: 100%;
   float: none;
   margin-top: 100px;
}

#left {
    
    width: 100%;
}


}